<div class="card">
    <div class="card-body">
        <h5 class="card-title">Title here</h5>
        <!-- Table here -->

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Column Title</th>
                    <th scope="col">Column Title</th>
                    <th scope="col">Column Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>John</td>
                    <td>Doe</td>
                    <td>foo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>